body{
    overflow-x: hidden;
    
}

footer{
    height: 10vh;
    @include flex-center;
    color:$font-color;
    
    p{
        font-size: 2rem;
      font-family: $small-headers;
    }
}
@keyframes drop {
    0% {transform:translateY(-500px);}
    100% {transform:translateY(0px);}
}

.effect{
    position:fixed;
    top:0px;
    left:0px;
    height: 100vh;
    width:100vw;
    background-color: $page-color;
    font-family: $header-font;
    font-size: 3rem;
    @include flex-center;
    color: $font-color;
    transition:1s;
    opacity:1;
    z-index: 100;
}

.icons{
    
    font-family:$small-headers ;
    color:$font-color;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    span{
        position: relative;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
        align-items: center;
       
       a{
           margin-left:.6rem;
           margin-right: .6rem;
           position: absolute;
           transition:1s;
           right:100%;
           font-size: 3.3rem;
           transition: opacity .7s;
       }
       

       
       
    }
    .inner-icon{
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-right: 1rem;
        padding-right: .5rem;
        .fas{
        opacity: .5;
        }
        span .right{
            transition: .5s;
        }
        
        span:hover{
            cursor: pointer;
            
        }
        span:hover .right{
            transform: scale(.5);
        }
       
       
    }
    visibility: hidden;
}

// animation for menu slide out on big screen

@keyframes menu-slide{
    0%{right:-500%;opacity:0;}
    25%{right:-300%;opacity:.2;}
    100% {right: 100%; opacity: 1;}
}

.menu-animate:hover .flash{
    animation:menu-slide 1s ease-out forwards;
}

header{
    position:relative;
    
    font-family: $header-font;
    color: $font-color;
    display: flex;
    z-index: 2;
    flex-direction:column;
    .logo-menu{
        background-color:$page-color;
        @include flex-between;
        padding-right: 1rem;
        padding-left: 1rem;
       
        span{
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
             
        }

    }
    
    h1{
        display: inline-block;
    }
    

    .menu-items{
       
        transition:.41s ease-out;
       background-color: $page-color;
       
        li{
            font-size: 1.1rem;
            @include flex-center;
            height: 3rem;
            background-color:$page-color;
            
        }
        a{
            text-decoration: none;
            color:white;
            
        }
       
      
      top:-700%;
      position:absolute;
      width: 100%;
        

    }

}



.con-index{
    height: 100vh;
    @include background-image("../images/image4.jpg");
    height: 100vh;

}
